@font-face {
    font-family: 'micracbold';
    src: url('fonts/micracb-webfont.eot');
    src: url('fonts/micracb-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/micracb-webfont.woff2') format('woff2'),
    url('fonts/micracb-webfont.woff') format('woff'),
    url('fonts/micracb-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    min-width: 700px;
    margin: 0px;
    padding: 0px;
    background-attachment: fixed;
    background: url(bg.jpg);
    font-family: 'micracbold', Arail;
}

.header {
    background-color: #12121a;
    height: 63px;
    opacity: 0.5;
    margin-bottom: 35px;
}

#header_label {
    text-align: center;
    margin:0px;
    padding-top: 9px;
    font-size: 36px;
    color: #6baea8;
    opacity: 1;
}

.form_signin {
    margin-bottom: 36px;
}

.signin{
    margin-right: 273px;
    float: right;
    width: 406px;
    height:650px;
}
.header_signin, .header_reg {
    opacity: 0.5;
    background-color: #12121a;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#signin_label {
    color: #6baea8;
    padding: 13px;
    text-align: center;
    font-size: 18px;
    margin: 0px 0px 4px 0px;
}

.content_signin {
    padding: 33px 30px 0;
    box-sizing: border-box;
    height: 180px;
    opacity: 0.5;
    background-color: #12121a;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.signin_input{
    padding-left: 10px;
    font-family: 'micracbold';
    background-color: rgba(14, 110, 105, 1);
    border-radius: 5px;
    width: 328px;
    height: 32px;
    border: 2px solid #74c6bf;
}

.signin_input:focus {
    transition: border .2s;
    border: 2px solid white;
}

.login {
    margin-bottom: 33px;
}

.button {
    height: 38px;
    font-family: 'micracbold';
    background-color: rgba(14, 110, 105, 1);
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

.password {
    width: 218px;
}

.button_signin {
    text-align: center;
    width: 102px;
}
.button:hover{
    transition: border .1s;
    border: 2px solid #74c6bf;
}

.reg{
    margin-bottom: 35px;
    padding-left: 10px;
    font-family: 'micracbold';
    background-color: #0e6e69;
    border-radius: 5px;
    width: 328px;
    height: 32px;
    border: 2px solid #74c6bf;
}

#reg_label {
    color: #6baea8;
    padding: 13px;
    margin: 0px 0px 4px 0px;
    text-align: center;
    font-size: 18px;
}

.content_reg {
    padding: 35px 30px 0;
    box-sizing: border-box;
    height: 333px;
    opacity: 0.5;
    background-color: #12121a;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.button_reg {
    text-align: center;
    width: 342px;
}
