body{
    min-width: 700px;
    margin: 0px;
    padding: 0px;
    background-attachment: fixed;
    background: url(../images/bg.jpg);
    font-family: "Arial Narrow", Arial;
}

.FAQ{
    float: right;
    margin: 0px;
    margin-top: 7px;
    margin-right: 38px;
    font-size: 24px;
    color: #6baea8;
    text-decoration: none;
}

.header {
    background-color: #12121a;
    height: 63px;
    opacity: 0.7;
    margin-bottom: 35px;
}

#header_label {
    text-align: center;
    margin:0px;
    padding-top: 10px;
    font-size: 36px;
    color: #6baea8;
    opacity: 0.7;
    letter-spacing: 5px;
}

.form_signin {
    margin-bottom: 36px;
}

.signin{
    margin-right: 273px;
    float: right;
    width: 406px;
    height:650px;
}
.header_signin, .header_reg {
    opacity: 0.7;
    background-color: #12121a;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.labels {
    color: #6baea8;
    padding: 13px;
    text-align: center;
    font-size: 18px;
    margin: 0px 0px 4px 0px;
}

.content_signin {
    padding: 33px 30px 0;
    box-sizing: border-box;
    height: 180px;
    opacity: 0.7;
    background-color: #12121a;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.signin_input{
    outline: none;
    font-size: 18px;
    padding-left: 10px;
    font-family: "Arial Narrow", Arial;
    background-color: rgba(14, 110, 105, 1);
    border-radius: 5px;
    width: 328px;
    height: 32px;
    border: 2px solid #74c6bf;
}

.signin_input:focus {
    transition: border .3s;
    border: 2px solid white;
}

.login {
    margin-bottom: 33px;
}

.button {
    outline: none;
    height: 38px;
    font-family: "Arial Narrow", Arial;
    font-size: 18px;
    background-color: rgba(14, 110, 105, 1);
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

.password {
    width: 218px;
}

.button_signin {
    text-align: center;
    width: 102px;
    margin-left: 4px;
}
.button:hover{
    transition: border .3s;
    border: 2px solid #74c6bf;
}

.reg{
    margin-bottom: 35px;
}

.content_reg {
    padding: 35px 30px 0;
    box-sizing: border-box;
    height: 333px;
    opacity: 0.7;
    background-color: #12121a;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.button_reg {
    text-align: center;
    width: 342px;
}
