<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>CHAT</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/chat.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
    <script src="https://travistidwell.com/jsencrypt/bin/jsencrypt.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
    <script scr="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/rabbit.js"></script>
    <script src="javascripts/handlebars.js"></script>
    <script>
        var name = '<%= name %>';
    </script>

</head>
<body>
<div class="header">
    <p id="header_label">CHAT</p>
</div>
<div class="chat">
    <div class="form_chat">
        <div class="header_chat">
            <div id="chat_user" class="header_chat_username">ВАШ ЛОГИН: <%= name %></div>
            <div class="header_chat_exit"><a href='/'><img class="button_exit" src="images/bn_exit.png"></a></div>
        </div>
        <div class="content_chat">
            <div class="b-common_chat">
                <ul class="border_style chat_inpute_message common_chat">

                </ul>
                <ul class="border_style users_tab users">

                </ul>
                <input class="border_style input_message" maxlength="1000" placeholder="Сообщение...">
                <button type="button" class="button button_send">ОТПРАВИТЬ</button>
            </div>
        </div>
        <div class="content_rooms">
            <div class="my_private_room">
                <h1>Доступные приватные комнаты:</h1>
                <ul>
                </ul>
                <button class="create_new_room button button_create_room">НОВАЯ КОМНАТА</button>
            </div>
        </div>
    </div>
</div>

<script id="template_common_chat" type="text/x-handlebars-template">
    <li class="common_chat__item">
        <span class="common_chat__name">{{author}} </span> :
        <!--<span class="common_chat__time">{{time}}</span> :<br>-->
        <span class="common_chat__text">{{text}}</span>
    </li>
</script>
<script id="template_common_chat_user_list" type="text/x-handlebars-template">
    <li class="common_chat__item">
        <span class="common_chat__name">{{author}} </span> :
        <!--<span class="common_chat__time">{{time}}</span> :<br>-->
        <span class="common_chat__text">{{text}}</span>
    </li>
</script>
<script src="javascripts/chat.js"></script>
</body>
</html>